flask
flask-cors
transformers
torch
pillow
numpy
gtts
SpeechRecognition
sentencepiece
pandas
scikit-learn
matplotlib
librosa
mlxtend
sacremoses
scipy
soundfile
openpyxl
werkzeug
openai-whisper
gunicorn
